
@model FactoryModel.ReportModel
@{
    /**/

    ViewBag.Title = "E-invoice Report";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet">
<link href="~/Content/chosen.css" rel="stylesheet">

<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>



<script src="~/Scripts/Duplicate.js"></script>@*Prevent Duplicate Tab*@
<link href="~/Content/toastr.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" />@*For Export File*@
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>@*For Export File*@
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>@*For Export File*@
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>@*For Export File*@
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>@*For Export File*@
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>@*For Export File*@
<script src="//cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>@*For Export File*@
<script src="//cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>@*For Export File*@
<script src="//cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>@*For Export File*@
@*
    <script src="~/Scripts/jquery.fixme.min.js"></script>*@

<script src="~/Scripts/datetimepicker/jqueryui.js"></script>
<script src="~/Scripts/jquery.basic_arithmetics.min.js"></script>
<script src="~/Scripts/jquery.basic_arithmetics.js"></script>

<script src="~/Scripts/jquery.total.js"></script>
<script src="~/Scripts/jquery.documentvalidate.js"></script>
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/Loader.css" rel="stylesheet" />
<script src="~/Scripts/udjs/einvoice.js?0708a"></script>

<style type="text/css">
    .dataTables_scroll {
        overflow: auto;
    }
</style>

<style>
    .dataTable > thead > tr > th[class*=sort]:after {
        display: none;
    }

    table.dataTable thead tr {
        /*background-color: darkgray;*/
        background-color: lightblue;
    }

    table thead tr {
        /*background-color: darkgray;*/
        background-color: lightblue;
    }

    table tbody:hover > tr td {
        opacity: 0.5;
    }

    table tbody:hover > tr:hover td {
        color: #2d2d2d;
        opacity: 1.0;
    }

    table.dataTable tbody tr:nth-child(odd) {
        background: #eee;
    }

    table tbody:nth-child(odd) > tr:nth-child(odd) {
        background: #eee !important;
    }

    .buttons-excel {
        padding: 6px 12px !important;
        background: lightblue !important;
        border-color: #2196F3 !important;
    }

    .dataTables_paginate a {
        padding: 6px 12px !important;
        background: lightblue !important;
        border-color: #2196F3 !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: #2196F3;
        color: white !important; /*change the hover text color*/
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        background: #2196F3;
        color: white !important; /*below block of css for change style when active*/
    }

    th {
        white-space: nowrap;
        font-size: 13px;
    }

    td {
        white-space: nowrap;
        font-size: 13px;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <b>E-invoice Report</b>
    </div>
    <div style="margin-top:10px;"></div>
    <div class="panel-body">
        <div id="pnlDisplay">
            <div class="panel-body" style="box-shadow: 5px 5px 5px 5px #D6DAD9">
                <div style="margin-top:10px;"></div>
                <div class="row col-xs-12">
                    <div class="col-xs-1">
                        From date:
                    </div>
                    <div class="col-xs-2">
                        <input type="text" id="txtfromdate" style="width: 100px;height:20px;" class="form-control chosen" disabled="disabled" onkeypress="return false;" />
                    </div>
                    <div class="col-xs-1">
                        To Date:
                    </div>
                    <div class="col-xs-2">
                        <input type="text" id="txttodate" style="width: 100px;height:20px;" class="form-control chosen" disabled="disabled" onkeypress="return false;" />
                    </div>

                    <div class="col-xs-2">
                        Depot:
                    </div>
                    <div class="col-xs-2">
                        @Html.DropDownListFor(m => m.Depot, new SelectList(string.Empty, "BRID", "BRNAME"), new { @class = "form-control chosen", style = "width: 200px;" })
                    </div>
                </div>

                <div style="margin-top:10px;"></div>
                <div class="row col-xs-12">
                    <div class="col-lg-12">
                        <table id="eInvoiceGrid" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dialog" style="display: none">
    <table>
        <tr>
            <td align="right" style="background-color:#fff; padding-top:20px; width:50%;">
                <img id="imgLoader" alt="" src="../images/ajax-loader.gif" style="visibility: hidden" />
            </td>
            <td style="background-color:#fff; padding-top:20px;">
                &nbsp;&nbsp;Please wait...
            </td>
        </tr>
    </table>
</div>
