<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AccountsEntityModel" connectionString="metadata=res://*/AccountsEntityModel.csdl|res://*/AccountsEntityModel.ssdl|res://*/AccountsEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.200.1.10;initial catalog=PRAYAAS;persist security info=True;user id=sa; password=Erp@123; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountsEntities" connectionString="metadata=res://*/AccountsEntities.csdl|res://*/AccountsEntities.ssdl|res://*/AccountsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.200.1.10;initial catalog=PRAYAAS_TEST;user id=developer;password=Erp~123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>